.parent-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.tr,td {
    border: 1px solid black;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    max-width: 640px;
}

.image-item {
    width: calc(50% - 20px);
    margin: 10px;
    text-align: center;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    border-bottom: 1px solid black;
}

.image-name {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}

.image-item:hover .image {
    transform: scale(1.1);
}

.table-border{
    border: 1px solid black;
}
.no-border {
    border: none;
    outline: none;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.form {
    margin: 20px 0;
}

.h1, h2 {
    margin: 10px 0;
    margin-bottom: 150px;
    position: relative;
    z-index: 10;
}