.main-container {
  text-align: center;
}

.thumbnail-container {
  display: flex; /*가운데로 모으기*/
  justify-content: center; /*가운데 정렬*/
  flex-wrap: wrap; /*자동 줄바꿈*/
  gap: 30px;
}

.thumbnail-block {
  width: 250px;
  text-decoration: none; /*밑줄 제거*/
  color: black;
  transition: transform 0.3s; /*부드러운 전환(0.3초간 서서히 움직임)*/
}

.thumbnail-block:hover {
  transform: scale(1.15); /*마우스 오버시 확대비율*/
}

.thumbnail-image {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  border: solid black;
}

.thumbnail-title {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
.next-quiz-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}
